.button {
    font-family: 'Roboto', sans-serif;
    min-width: 148px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.submitButton {
    border-color: #39B54A;
}

.submitButton:hover {
    color: #fff;
    background-color: #39B54A;
}

.returnButton {
    border-color: #0071BC;
}

.returnButton:hover {
    color: #fff;
    background-color: #0071BC;
}

.deleteButton {
    border-color: #F00;
}

.deleteButton:hover {
    color: #fff;
    background-color: #FF0000;
}
